.container{
    /* width: 700px; */
    min-height: 500px;
    background-color: lightblue;
    display: grid;
    grid:
    "menu graphic monday tuesday" 240px
    "menu wednesday thursday friday" 240px;
}

.container h1{
    letter-spacing: 1px;
    text-wrap: balance;
    text-align: center;
}

.container h1 span{
    font-weight: normal;
    display: block;
}

.container .menu{
    color: aliceblue;
}