* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.App{
  /* background: linear-gradient(to bottom, cor1, cor2); */
  background-color: hsl(226, 41%, 18%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}